*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0% 0%;
    display: flex;
    align-items: center;
    justify-content: top;
}
nav{
    width: 100%;
    position: absolute;
    bottom: 48%;
    right: 0%;
    padding: 20% 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 105px;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: -50px;
    margin-right: 100px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;   
}
.content{
    margin-left: -60%;
    margin-top: -10%;
}
.content h2{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}
.content a{
    margin-left: 19%;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    text-decoration: none;
}
.hero .video{
    width: 100%;
    margin-inline-end: -250px;
}
.frame{
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    width: 1518px;
    height: 150vh;

}

.frame h2{
    color: white;
    margin-left: 1020px;
    font-size: 46px;
    font-weight: 600;
    margin-top: 30px;

}

.frame p{
    color: #fff;
    font-size: 26px;
    margin-left: 600px;
}

.container1{
    margin: auto;
    overflow: auto;
    background-color: cadetblue;
    height: 1480px;
}

.container h1{
    text-align: center;
    color: white;
    margin-top: 90px;
    font-size: 70px;
}

.gallery{
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 470px;    
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

.desc p{
    color:#fff;
}

.brand{
    background-color:rgb(79, 152, 221);
    height: 1000px;

}

.subsidiaries{
    background-color: rgb(43, 47, 50);
    height: 1250px;
}
.subsidiaries h1{
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.subsidiaries p{
    text-align: center;
    color: #fff;
    font-size: 26px;
}
